.template-header .header-logo {
  left: 50%;
  top: auto;
  bottom: -70px;
  transform: translateX(-50%);
  z-index: 6;
}
.template-header nav {
  margin-left: 0;
  margin-right: auto;
}
@media (max-width: 760px) {
  .template-header .header-logo {
    left: 50%;
    bottom: -50px;
    top: auto;
  }
  .template-header nav {
    margin: auto;
    padding-top: 0;
    padding-bottom: 58px;
  }
}
